<html lang="zh-CN" class="ua-windows ua-webkit"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
  
    肖申克的救赎的影评 (13936)
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="评论,影评,The Shawshank Redemption,肖申克的救赎,观后感">
  <meta name="description" content="肖申克的救赎最新影评, 热门影评">
  <link rel="alternate" href="/feed/subject/1292052/reviews" type="application/rss+xml" title="RSS">

  <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img1.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <!-- COLLECTED CSS -->
  <style type="text/css"></style>

  <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/OTJhMWU3dC9mL2FkanMvMjRhM2Q1Yjg4MmE0YjAwZDQwNWFjMTAzMDk4ZDI2ZjYzYjQwNmQ5ZS9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale" async="true"></script><script type="text/javascript">var _head_start = new Date();</script>

  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/6931d89467c7bd3bb6cd748c05cae22368989aea/js/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/3c6b740d698898fddd4bb845e4dc1ca29b335dd1/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
  <script type="text/javascript"></script>
  


    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/0f70d05/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/0f70d05/shire/bundle.js" defer="defer"></script>





      


    <link href="//img3.doubanio.com/dae/accounts/resources/0f70d05/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://search.douban.com/movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">选剧集</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2024/?fullscreen=1&amp;dt_from=movie_navigation">2024年度榜单</a>
    </li>
    <li><a href="https://c9.douban.com/app/standbyme-2024/?autorotate=false&amp;fullscreen=true&amp;hidenav=true&amp;monitor_screenshot=true&amp;df_from=web_navigation" target="_blank">2024年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2024/?fullscreen=1&amp;source=movie_navigation_logo" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/0f70d05/movie/bundle.js" defer="defer"></script>





  
  <div id="wrapper" class="movie-content review-wrapper">
    

    
  <div id="content">
    
    <h1>肖申克的救赎的影评 (13936)</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
    <ul class="top-tab clearfix">
            
  
  <li class="selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      

    </ul>
  



<link rel="stylesheet" href="https://img3.doubanio.com/cuphead/zerkalo-static/review/list.5700f.css">

<div class="review-list  ">
        
    

            
    
    <div data-cid="8899000">
        <div class="main review-item" id="8899000">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/92948260/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u92948260-67.jpg">
        </a>

        <a href="https://www.douban.com/people/92948260/" class="name">画楼无凭</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-11-02" class="main-meta">2017-11-02 00:20:59</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8899000/">生活的泥沼</a></h2>

                <div id="review_8899000_short" class="review-short" data-rid="8899000">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        王小波在《三十而立》里写过:“我忽然觉得生活很无趣，它好像是西藏的一种酷刑:把人用湿牛皮裹起来，放在阳光下暴晒。等牛皮干硬收缩，就把人箍得乌珠迸出。生活也如是:你一天天老下去，牛皮一天天紧起来。这张牛皮就是生活的规律:上班下班，吃饭排粪，连做爱也是其中的一环，...

                        &nbsp;(<a href="javascript:;" id="toggle-8899000-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8899000_full" class="hidden">
                    <div id="review_8899000_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8899000" title="有用">
                            241
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8899000" title="没用">
                            23
                    </a>
                    <a href="https://movie.douban.com/review/8899000/#comments" class="reply ">9回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8899000">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9693952">
        <div class="main review-item" id="9693952">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/64363146/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u64363146-27.jpg">
        </a>

        <a href="https://www.douban.com/people/64363146/" class="name">小神仙炸炸</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-10-08" class="main-meta">2018-10-08 13:03:24</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9693952/">《肖申克的救赎》有哪些戳你泪点的情节？</a></h2>

                <div id="review_9693952_short" class="review-short" data-rid="9693952">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        汤姆之死。 黑暗中年轻人闪闪发亮的眼睛，望着故作伪善的典狱长，满怀希望以为自己可以救下恩师。听到典狱长询问他是否能在法官面前诚实作答，汤姆毫不迟疑的回答：yes,sir.just give me that chance.典狱长笑了，拍拍汤姆的肩膀，用脚踩灭烟头，给黑暗处的杀手一个眼神。 枪声...

                        &nbsp;(<a href="javascript:;" id="toggle-9693952-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9693952_full" class="hidden">
                    <div id="review_9693952_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9693952" title="有用">
                            181
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9693952" title="没用">
                            1
                    </a>
                    <a href="https://movie.douban.com/review/9693952/#comments" class="reply ">13回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9693952">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8666877">
        <div class="main review-item" id="8666877">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/145790989/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u145790989-23.jpg">
        </a>

        <a href="https://www.douban.com/people/145790989/" class="name">美神经</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-07-14" class="main-meta">2017-07-14 22:22:43</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8666877/">救赎</a></h2>

                <div id="review_8666877_short" class="review-short" data-rid="8666877">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        我们总说，如果。 其实我们都知道，世上没有如果，我们无法回到过去。 “我没有一天不在后悔，但并非受惩罚才后悔。我回首前尘往事，那个犯下重罪的小笨蛋。我想和他谈谈，我试图讲道理，让他明白什么是对什么是错，但是我办不到，那个少年早就不见了，只剩下我垂老之躯。” 安...

                        &nbsp;(<a href="javascript:;" id="toggle-8666877-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8666877_full" class="hidden">
                    <div id="review_8666877_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8666877" title="有用">
                            71
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8666877" title="没用">
                            5
                    </a>
                    <a href="https://movie.douban.com/review/8666877/#comments" class="reply ">2回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8666877">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9117315">
        <div class="main review-item" id="9117315">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/156128201/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u156128201-16.jpg">
        </a>

        <a href="https://www.douban.com/people/156128201/" class="name">鱼不吃猫</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-01-31" class="main-meta">2018-01-31 19:49:53</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9117315/">希望</a></h2>

                <div id="review_9117315_short" class="review-short" data-rid="9117315">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        希望正如沙漠中的一颗大树 她可以为你遮挡酷热的阳光 可有一个地方 希望竟然成了毒药 可以让你发狂，发疯外没有任何益处 这个地方就是肖申克监狱 给我印象深刻的是 那个做了50年牢的老图书管理员 出狱后 竟然整日活在恐惧中 最后自杀了 自由了 活着有奔头，有希望了 竟然也是另...

                        &nbsp;(<a href="javascript:;" id="toggle-9117315-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9117315_full" class="hidden">
                    <div id="review_9117315_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9117315" title="有用">
                            69
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9117315" title="没用">
                            2
                    </a>
                    <a href="https://movie.douban.com/review/9117315/#comments" class="reply ">7回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9117315">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8448377">
        <div class="main review-item" id="8448377">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/159467414/" class="avator">
            <img width="24" height="24" src="https://img2.doubanio.com/icon/u159467414-1.jpg">
        </a>

        <a href="https://www.douban.com/people/159467414/" class="name">爱哭的女王</a>
            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2017-03-31" class="main-meta">2017-03-31 19:51:26</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8448377/">救赎</a></h2>

                <div id="review_8448377_short" class="review-short" data-rid="8448377">
                    <div class="short-content">

                        《肖申克的救赎》毫无疑问是一部好片子，没有动作,没有特技,甚至没有美人，却依然能深深打动观众,并且历经十几年而魅力不减。它靠什么吸引我们？ 有人说是因为它反映出了“人性之韧”。确实，用一把小榔头，近20年的时间，在人身控制极为严格的法西斯式监狱，挖出了一条逃生的...

                        &nbsp;(<a href="javascript:;" id="toggle-8448377-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8448377_full" class="hidden">
                    <div id="review_8448377_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8448377" title="有用">
                            45
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8448377" title="没用">
                            1
                    </a>
                    <a href="https://movie.douban.com/review/8448377/#comments" class="reply ">4回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8448377">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="7847352">
        <div class="main review-item" id="7847352">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/126980247/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u126980247-57.jpg">
        </a>

        <a href="https://www.douban.com/people/126980247/" class="name">九条命</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2016-04-10" class="main-meta">2016-04-10 13:38:09</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/7847352/">肖申克的救赎</a></h2>

                <div id="review_7847352_short" class="review-short" data-rid="7847352">
                    <div class="short-content">

                        不朽  是我观看后对它内心深处最为自然的评价   该片的主题是 希望  并在牢狱题材电影中突破了类型片的限制 拍出了同类作品罕见的人情味和温馨感觉 以至今日 该片几乎在国内外各大电影网站的电影排行中始终稳坐第一    该电影用第三人称的旁白描绘了肖申克监狱二三十年间所发生...

                        &nbsp;(<a href="javascript:;" id="toggle-7847352-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_7847352_full" class="hidden">
                    <div id="review_7847352_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="7847352" title="有用">
                            75
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="7847352" title="没用">
                            5
                    </a>
                    <a href="https://movie.douban.com/review/7847352/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="7847352">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9370452">
        <div class="main review-item" id="9370452">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/157865012/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u157865012-9.jpg">
        </a>

        <a href="https://www.douban.com/people/157865012/" class="name">仰山雪</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-05-15" class="main-meta">2018-05-15 21:52:30</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9370452/">救赎</a></h2>

                <div id="review_9370452_short" class="review-short" data-rid="9370452">
                    <div class="short-content">

                        人生就是一座监狱，监狱里面还有监狱，而最深的那个监狱则是内在于你内心之中的绝望和沉沦。体制化、洗脑、绝望，人有一万种方式失去魂灵，只有一种方式可以争来一丝光明：反抗。反抗一切侵害，反抗自己内心里的监狱，反抗失去希望的行尸走肉体制化，反抗时间消磨。做对自己有...

                        &nbsp;(<a href="javascript:;" id="toggle-9370452-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9370452_full" class="hidden">
                    <div id="review_9370452_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9370452" title="有用">
                            78
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9370452" title="没用">
                            1
                    </a>
                    <a href="https://movie.douban.com/review/9370452/#comments" class="reply ">2回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9370452">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8434461">
        <div class="main review-item" id="8434461">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/72626968/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u72626968-23.jpg">
        </a>

        <a href="https://www.douban.com/people/72626968/" class="name">工藤新一的猴子</a>
            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2017-03-24" class="main-meta">2017-03-24 16:45:17</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8434461/">悼念安迪</a></h2>

                <div id="review_8434461_short" class="review-short" data-rid="8434461">
                    <div class="short-content">

                        有一种鸟儿是永远也关不住的 因为它的每片羽翼都沾满了自由的光辉 我一直都记得电影中， 当ANDY说出自己越狱计划的时候， RED认为他是在妄想， 当时ANDY的回应是以下的话： “fear can hold you prisoner,hope can send you free.” 救赎是从心灵上的： 救自己于困境， 赎过往...

                        &nbsp;(<a href="javascript:;" id="toggle-8434461-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8434461_full" class="hidden">
                    <div id="review_8434461_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8434461" title="有用">
                            84
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8434461" title="没用">
                            5
                    </a>
                    <a href="https://movie.douban.com/review/8434461/#comments" class="reply ">2回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8434461">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8540795">
        <div class="main review-item" id="8540795">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/52269752/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u52269752-8.jpg">
        </a>

        <a href="https://www.douban.com/people/52269752/" class="name">傻不傻666</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-14" class="main-meta">2017-05-14 22:53:11</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8540795/">一面是自由，一面是希望</a></h2>

                <div id="review_8540795_short" class="review-short" data-rid="8540795">
                    <div class="short-content">

                        &lt;一&gt; 自由是埋在心里的一枚种子 影片中有这样三个场景：一个是这样的，在一个春光明媚的清晨，囚犯干完活后，在屋顶闲散地坐着，很悠然地喝着安迪可以说是用生命换来的冰镇啤酒，享受着温暖悠闲的阳光，那就仿佛是在自家的屋顶上一样，享受着来之不易的自由?? 另一个场景里，在...

                        &nbsp;(<a href="javascript:;" id="toggle-8540795-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8540795_full" class="hidden">
                    <div id="review_8540795_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8540795" title="有用">
                            99
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8540795" title="没用">
                            5
                    </a>
                    <a href="https://movie.douban.com/review/8540795/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8540795">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9880563">
        <div class="main review-item" id="9880563">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/144132479/" class="avator">
            <img width="24" height="24" src="https://img2.doubanio.com/icon/u144132479-1.jpg">
        </a>

        <a href="https://www.douban.com/people/144132479/" class="name">新添啃啃</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2019-01-07" class="main-meta">2019-01-07 21:49:31</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9880563/">肖申克的救赎教给我的6件事（#2019-02）</a></h2>

                <div id="review_9880563_short" class="review-short" data-rid="9880563">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        重新看了一下肖申克的救赎，这个越狱故事再一次让我咂摸出很多新的滋味。 1. 来到新的环境，不要出声露面，先观察环境比较好。 安迪含冤入狱的第一天，一排犯人站在监狱长面前，监狱长问，你们有什么要问的吗？ 一个犯人举起手“我们什么时候吃饭？”， 监狱长副手走过去，“我...

                        &nbsp;(<a href="javascript:;" id="toggle-9880563-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9880563_full" class="hidden">
                    <div id="review_9880563_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9880563" title="有用">
                            173
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9880563" title="没用">
                            3
                    </a>
                    <a href="https://movie.douban.com/review/9880563/#comments" class="reply ">10回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9880563">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8580913">
        <div class="main review-item" id="8580913">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/155603461/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u155603461-4.jpg">
        </a>

        <a href="https://www.douban.com/people/155603461/" class="name">˙˘˙</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-06-04" class="main-meta">2017-06-04 12:31:15</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8580913/">A Movie About Freedom And Hope</a></h2>

                <div id="review_8580913_short" class="review-short" data-rid="8580913">
                    <div class="short-content">

                        “有些鸟注定是不会被关在笼子里的，因为它们的每一片羽毛都闪耀着自由的光辉。”安迪反锁广播室播放《费加罗的婚礼》那段真心让我热血澎湃。他是这样一个人，无论怎么样，规矩只能锁住他的的肉体，但绝对锁不住他的灵魂！能救赎自己的，只有自己 。 也许我们每个人都是肖申克...

                        &nbsp;(<a href="javascript:;" id="toggle-8580913-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8580913_full" class="hidden">
                    <div id="review_8580913_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8580913" title="有用">
                            69
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8580913" title="没用">
                            2
                    </a>
                    <a href="https://movie.douban.com/review/8580913/#comments" class="reply ">2回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8580913">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8535674">
        <div class="main review-item" id="8535674">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/156222271/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u156222271-23.jpg">
        </a>

        <a href="https://www.douban.com/people/156222271/" class="name">momo</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-12" class="main-meta">2017-05-12 18:22:01</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8535674/">影片中那些让人印象深刻的情节</a></h2>

                <div id="review_8535674_short" class="review-short" data-rid="8535674">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        故事中的人物:Andy，Red一行人，监狱长，性侵犯人，后面的小喽啰（忘记叫什么了，他也是让Andy做决定的关键人物），送书的老犯人。 影片中让我印象最深的之一 就是Andy和Red他们一行人坐在那里吃饭的时候说的一席话，Andy说:希望是世界上最美好的东西，永远都不要放弃希望。Red...

                        &nbsp;(<a href="javascript:;" id="toggle-8535674-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8535674_full" class="hidden">
                    <div id="review_8535674_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8535674" title="有用">
                            51
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8535674" title="没用">
                            13
                    </a>
                    <a href="https://movie.douban.com/review/8535674/#comments" class="reply ">1回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8535674">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9367655">
        <div class="main review-item" id="9367655">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/150827417/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u150827417-2.jpg">
        </a>

        <a href="https://www.douban.com/people/150827417/" class="name">深海有咸鱼</a>
            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-05-14" class="main-meta">2018-05-14 19:00:45</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9367655/">肖申克的救赎</a></h2>

                <div id="review_9367655_short" class="review-short" data-rid="9367655">
                    <div class="short-content">

                        有一些电影可遇不可求。这“遇”只能是不期然地偶遇，有准备的相遇会让一切黯然失色。忘了是哪一年，我莫名地租来一张名叫《刺激1995》的VCD，那时不知道谁是蒂姆•罗宾斯，谁是摩根•弗里曼，还只知道整天追着刘德华、王菲打转，一切都像是老天的意旨，我就那么莫名地、无...

                        &nbsp;(<a href="javascript:;" id="toggle-9367655-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9367655_full" class="hidden">
                    <div id="review_9367655_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9367655" title="有用">
                            45
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9367655" title="没用">
                            1
                    </a>
                    <a href="https://movie.douban.com/review/9367655/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9367655">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8660262">
        <div class="main review-item" id="8660262">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/3883366/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u3883366-16.jpg">
        </a>

        <a href="https://www.douban.com/people/3883366/" class="name">草莓芭菲</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-07-12" class="main-meta">2017-07-12 00:18:43</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8660262/">《肖申克的救赎》经典台词</a></h2>

                <div id="review_8660262_short" class="review-short" data-rid="8660262">
                    <div class="short-content">

                        人生可以归结为一种简单的选择：不是忙着活，就是忙着死。 懦怯囚禁人的灵魂，希望可以令你感受自由，强者自救，圣者渡人。 坚强的人只能救赎自己，伟大的人才能拯救他人。 生命可以归结为一种简单的选择：要么忙于生存，要么赶着去死。 希望是美好的，也许是人间至善，而美好...

                        &nbsp;(<a href="javascript:;" id="toggle-8660262-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8660262_full" class="hidden">
                    <div id="review_8660262_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8660262" title="有用">
                            62
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8660262" title="没用">
                            6
                    </a>
                    <a href="https://movie.douban.com/review/8660262/#comments" class="reply ">3回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8660262">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8546116">
        <div class="main review-item" id="8546116">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/161213881/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u161213881-5.jpg">
        </a>

        <a href="https://www.douban.com/people/161213881/" class="name">Sunday</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-17" class="main-meta">2017-05-17 15:25:02</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8546116/">永远也不要放弃希望</a></h2>

                <div id="review_8546116_short" class="review-short" data-rid="8546116">
                    <div class="short-content">

                        安迪花十几年时间做成一件事情，这件事情在未完成之前，在别人看来并没有意义。但在他心理，这些无意义的事情都是他精密计划的一部分。做好计划，做好一切准备，等待恰当的时机，完成计划，完美。 如果每个人都可以做到，心中有了计划，无视他人的嘲讽，然后耐着性子等待机遇，...

                        &nbsp;(<a href="javascript:;" id="toggle-8546116-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8546116_full" class="hidden">
                    <div id="review_8546116_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8546116" title="有用">
                            39
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8546116" title="没用">
                            6
                    </a>
                    <a href="https://movie.douban.com/review/8546116/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8546116">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8565523">
        <div class="main review-item" id="8565523">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/139081838/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u139081838-9.jpg">
        </a>

        <a href="https://www.douban.com/people/139081838/" class="name">遇见粒夏</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-27" class="main-meta">2017-05-27 14:15:58</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8565523/">永远留有希望 就是自我救赎</a></h2>

                <div id="review_8565523_short" class="review-short" data-rid="8565523">
                    <div class="short-content">

                        有人说不看“肖申克的救赎”的人生是不完整的。我想大概只有认认真真看过的人才懂这句话。 每个人所执着的点和感触的地方都不一样。关于希望，关于价值，关于毅力，是我印象比较深刻的地方。 小有成就的青年银行家安迪，因涉嫌杀害妻子及她的情人而锒铛入狱。来到肖申克的监狱...

                        &nbsp;(<a href="javascript:;" id="toggle-8565523-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8565523_full" class="hidden">
                    <div id="review_8565523_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8565523" title="有用">
                            67
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8565523" title="没用">
                            2
                    </a>
                    <a href="https://movie.douban.com/review/8565523/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8565523">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8551802">
        <div class="main review-item" id="8551802">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/91328500/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u91328500-29.jpg">
        </a>

        <a href="https://www.douban.com/people/91328500/" class="name">中药</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-20" class="main-meta">2017-05-20 15:22:01</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8551802/">聪明之人</a></h2>

                <div id="review_8551802_short" class="review-short" data-rid="8551802">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        故事发生在1947年，银行家安迪（Andy）被指控枪杀了妻子及其情人，安迪被判无期徒刑，这意味着他将在肖恩克监狱中渡过余生。 瑞德（Red）1927年因谋杀罪被判无期徒刑，数次假释都未获成功。他成为了肖恩克监狱中的“权威人物”，只要你付得起钱，他几乎有办法搞到任何你想要的...

                        &nbsp;(<a href="javascript:;" id="toggle-8551802-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8551802_full" class="hidden">
                    <div id="review_8551802_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8551802" title="有用">
                            70
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8551802" title="没用">
                            22
                    </a>
                    <a href="https://movie.douban.com/review/8551802/#comments" class="reply ">3回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8551802">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8527843">
        <div class="main review-item" id="8527843">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/131693056/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u131693056-33.jpg">
        </a>

        <a href="https://www.douban.com/people/131693056/" class="name">momo</a>
            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2017-05-08" class="main-meta">2017-05-08 21:37:09</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8527843/">肖申克的救赎我爱的三句台词</a></h2>

                <div id="review_8527843_short" class="review-short" data-rid="8527843">
                    <div class="short-content">

                        First you hate 'em, then you get used to 'em. Enough time passes, gets so you depend on them. That's institutionalized. 这些墙很有趣。刚入狱的时候，你痛恨周围的高墙；慢慢地，你习惯了生活在其中；最终你会发现自己不得不依靠它而生存。这就叫体制化。    I guess i...

                        &nbsp;(<a href="javascript:;" id="toggle-8527843-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8527843_full" class="hidden">
                    <div id="review_8527843_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8527843" title="有用">
                            52
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8527843" title="没用">
                            3
                    </a>
                    <a href="https://movie.douban.com/review/8527843/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8527843">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9260746">
        <div class="main review-item" id="9260746">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/TongGuanxiong/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u1151760-14.jpg">
        </a>

        <a href="https://www.douban.com/people/TongGuanxiong/" class="name">童</a>
            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-03-31" class="main-meta">2018-03-31 02:02:51</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9260746/">为何《肖申克的救赎》在IMDb和豆瓣都能排第一？</a></h2>

                <div id="review_9260746_short" class="review-short" data-rid="9260746">
                    <div class="short-content">

                        我来讲段故事吧，亲历者。IMDB第一很长一段时间本来是《教父》，后来《黑暗骑士》上映，诺兰粉跟希斯莱杰粉疯狂的给《黑暗骑士》打高分同时给《教父》刷低分，直接导致《肖申克的救赎》渔翁得利升到第一。至于豆瓣，那就不清楚了，可能是口碑的原因吧，我们那时候这个片子最通...

                        &nbsp;(<a href="javascript:;" id="toggle-9260746-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9260746_full" class="hidden">
                    <div id="review_9260746_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9260746" title="有用">
                            88
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9260746" title="没用">
                            32
                    </a>
                    <a href="https://movie.douban.com/review/9260746/#comments" class="reply ">17回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="9260746">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="8621584">
        <div class="main review-item" id="8621584">

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/151769944/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u151769944-9.jpg">
        </a>

        <a href="https://www.douban.com/people/151769944/" class="name">如错看了都好-</a>
            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2017-06-23" class="main-meta">2017-06-23 21:33:54</span>



    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/8621584/">肖申克的救赎</a></h2>

                <div id="review_8621584_short" class="review-short" data-rid="8621584">
                    <div class="short-content">

                        有些鸟注定是不会被关在笼子里的，因为它们的每一片羽毛都闪耀着自由的光辉。同样，安迪在狱中的真心朋友，生死患难之交也朝向着曾经的允诺和自己罪行的赎过而不断奋斗。他用那在乱世之间不断磨砺出的成熟而厚实的心窥透一切黑暗，用一番真诚的话语打动了假释审核员的内心：“...

                        &nbsp;(<a href="javascript:;" id="toggle-8621584-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_8621584_full" class="hidden">
                    <div id="review_8621584_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="8621584" title="有用">
                            49
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="8621584" title="没用">
                            1
                    </a>
                    <a href="https://movie.douban.com/review/8621584/#comments" class="reply ">1回应</a>

                    <a href="javascript:;;" class="fold hidden" data-rid="8621584">收起</a>
                </div>
            </div>
        </div>
    </div>



    <!-- COLLECTED JS -->
    <!-- COLLECTED CSS -->
</div>

    <script src="https://img3.doubanio.com/cuphead/zerkalo-static/review/list.21637.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>












  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="?sort=hotest&amp;start=0">
            <a href="?sort=hotest&amp;start=0">&lt;前页</a>
        </span>
        
        

                
            <a href="?sort=hotest&amp;start=0">1</a>
        
                <span class="thispage" data-total-page="697">2</span>
                
            <a href="?sort=hotest&amp;start=40">3</a>
        
                
            <a href="?sort=hotest&amp;start=60">4</a>
        
                
            <a href="?sort=hotest&amp;start=80">5</a>
        
                
            <a href="?sort=hotest&amp;start=100">6</a>
        
                
            <a href="?sort=hotest&amp;start=120">7</a>
        
                
            <a href="?sort=hotest&amp;start=140">8</a>
        
                
            <a href="?sort=hotest&amp;start=160">9</a>
        
            <span class="break">...</span>
                
            <a href="?sort=hotest&amp;start=13900">696</a>
        
            <a href="?sort=hotest&amp;start=13920">697</a>
        
        <span class="next">
            <link rel="next" href="?sort=hotest&amp;start=40">
            <a href="?sort=hotest&amp;start=40">后页&gt;</a>
        </span>

            <span class="count">(共13936条)</span>
        </div>



      </div>
      <div class="aside">
        
  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>

      
  <div class="subject-title">
    <a href="https://movie.douban.com/subject/1292052/">&gt;&nbsp;肖申克的救赎</a>
  </div>

  <div class="subject-img">
    <a href="https://movie.douban.com/subject/1292052/">
      <img alt="肖申克的救赎" title="肖申克的救赎" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p480747492.webp" rel="v:image">
    </a>
  </div>

    <div class="subject-info movie-info">
      <ul class="info-list">
          
  
  <li class="info-item">
    <span class="info-item-key">导演:</span>
    <span class="info-item-val">弗兰克·德拉邦特</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">主演:</span>
    <span class="info-item-val">蒂姆·罗宾斯 / 摩根·弗里曼 / 鲍勃·冈顿</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">类型:</span>
    <span class="info-item-val">犯罪 / 剧情</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">地区:</span>
    <span class="info-item-val">美国</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">上映:</span>
    <span class="info-item-val">1994-09-10(多伦多电影节) / 1994-10-14(美国)</span>
  </li>

      </ul>
    </div>


  </div>

    <!-- douban ad begin -->
    <div id="dale_movie_subject_reviews_middle_right" ad-status="loaded" data-sell-type="RTB" data-type="YoudaoRender" data-version="3.2.42"></div>
    <!-- douban ad end -->

    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/subject/1292052/reviews">订阅肖申克的救赎的影评</a>  </span>
</p>






      </div>
      <div class="extra">
        
      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    

<span id="icp" class="fleft gray-link">
    © 2005-2025 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    · <a href="https://help.douban.com/" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

  </div>

  </div>
    
  
  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css">
  <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>

  
  <link rel="stylesheet" href="https://img1.doubanio.com/cuphead/zerkalo-static/popup/reg_login_pop.1c720.css">
  <script src="https://img9.doubanio.com/cuphead/zerkalo-static/popup/reg_login_popup.2cce5.js"></script>




  

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'Rfc1nBtyYrs',
            criteria = '3:/subject/1292052/reviews?sort=hotest&amp;start=20',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_reviews_middle_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/OTJhMWU3dC9mL2FkanMvMjRhM2Q1Yjg4MmE0YjAwZDQwNWFjMTAzMDk4ZDI2ZjYzYjQwNmQ5ZS9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>







  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- dae-web-zerkalo--default-6d786554c8-gn827-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.396px;"><ul></ul></div></body></html>